<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="8vVSXcBtBNc00Vr0RmtZ9OeCbV24RiJridsouGMp">

    <title>NAGOYAMESHI</title>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <link rel="stylesheet" href="https://nagoyameshi-pattern-1.herokuapp.com/build/assets/app.2062f98f.css" /><script type="module" src="https://nagoyameshi-pattern-1.herokuapp.com/build/assets/app.093f8e66.js"></script>
    <link href="https://nagoyameshi-pattern-1.herokuapp.com/css/nagoyameshi.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
</head>
<body>
    <div id="app" class="wrapper">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container nagoyameshi-container">
        <a class="navbar-brand app-name" href="https://nagoyameshi-pattern-1.herokuapp.com">
            <div class="d-flex align-items-center">
                <img class="nagoyameshi-logo me-1" src ="https://nagoyameshi-pattern-1.herokuapp.com/images/logo.svg" alt="nagoyameshi">
                NAGOYAMESHI
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav me-auto">

            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ms-auto">
                <!-- Authentication Links -->
                                                                                        <li class="nav-item">
                                <a class="nav-link" href="https://nagoyameshi-pattern-1.herokuapp.com/login">ログイン</a>
                            </li>
                        
                                                    <li class="nav-item">
                                <a class="nav-link" href="https://nagoyameshi-pattern-1.herokuapp.com/register">新規登録</a>
                            </li>
                                                                        </ul>
        </div>
    </div>
</nav>
        <main>
                                <div>
        <div class="swiper">
            <div class="swiper-wrapper">    
                <div class="swiper-slide"><img src="https://nagoyameshi-pattern-1.herokuapp.com/images/main1.jpg"></div>
                <div class="swiper-slide"><img src="https://nagoyameshi-pattern-1.herokuapp.com/images/main2.jpg"></div>
                <div class="swiper-slide"><img src="https://nagoyameshi-pattern-1.herokuapp.com/images/main3.jpg"></div> 
                <div class="d-flex align-items-center overlay-background">
                    <div class="container nagoyameshi-container overlay-text">                    
                        <h1 class="text-white catchphrase-heading">名古屋ならではの味を、<br>見つけよう</h1>   
                        <p class="text-white catchphrase-paragraph">NAGOYAMESHIは、<br>名古屋市のB級グルメ専門のレビューサイトです。</p>                 
                    </div>    
                </div>      
            </div>
        </div>      
    </div>

         

    <div class="bg-light mb-4 py-4">
        <div class="container nagoyameshi-container">
            <h2 class="mb-3">キーワードから探す</h2>
            <form method="GET" action="https://nagoyameshi-pattern-1.herokuapp.com/restaurants" class="user-search-box">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="店舗名・エリア・カテゴリ" name="keyword">
                    <button type="submit" class="btn btn-primary text-white shadow-sm">検索</button> 
                </div>               
            </form>
        </div>
    </div>    

    <div class="container nagoyameshi-container">                                  
        <h2 class="mb-3">評価が高いお店</h2>
        <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-5">
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/46" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/yakitori01.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">炭火やきとり マメ</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    焼き鳥
                                                                                            </div>
                                                                        
                                                                        
                                </div>
                                <p class="card-text">
                                    <span class="star-rating me-1" data-rate="5"></span>
                                    4.8
                                </p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/96" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/burger.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">NAGOYA BURGER 名駅店</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    ハンバーガー
                                                                                            </div>
                                                                        
                                                                        
                                </div>
                                <p class="card-text">
                                    <span class="star-rating me-1" data-rate="4.5"></span>
                                    4.6
                                </p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/89" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/dummy.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">ゲード</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    イタリア料理
                                                                                            </div>
                                                                                    <div class="d-inline-block">
                                                                                                     定食
                                                                                            </div>
                                                                        
                                                                        
                                </div>
                                <p class="card-text">
                                    <span class="star-rating me-1" data-rate="4"></span>
                                    4.17
                                </p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/98" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/yakiniku01.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">大衆焼肉酒場 ホルモン屋 栄店</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    焼肉
                                                                                            </div>
                                                                                    <div class="d-inline-block">
                                                                                                     居酒屋
                                                                                            </div>
                                                                        
                                                                        
                                </div>
                                <p class="card-text">
                                    <span class="star-rating me-1" data-rate="4"></span>
                                    4.17
                                </p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/84" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/sakana.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">魚と野菜と酒 じゃばらむ</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    海鮮料理
                                                                                            </div>
                                                                                    <div class="d-inline-block">
                                                                                                     居酒屋
                                                                                            </div>
                                                                        
                                                                        
                                </div>
                                <p class="card-text">
                                    <span class="star-rating me-1" data-rate="4"></span>
                                    4
                                </p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/41" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/ramen01.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">名古屋ラーメン 栄本店</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    ラーメン
                                                                                            </div>
                                                                        
                                                                        
                                </div>
                                <p class="card-text">
                                    <span class="star-rating me-1" data-rate="4"></span>
                                    3.88
                                </p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                    </div>

        <h2 class="mb-3">カテゴリから探す</h2>
        <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-3">
            <div class="col">
                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=26" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/washoku.jpg" class="card-img vertical-card-image" alt="和食">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title category-name">和食</h5>
                        </div>
                    </div>
                </a>
            </div> 

            <div class="col">
                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=19" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/udon.jpg" class="card-img vertical-card-image" alt="うどん">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title category-name">うどん</h5>
                        </div>
                    </div>
                </a>
            </div>    
            
            <div class="col">
                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=33" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/don.jpg" class="card-img vertical-card-image" alt="丼物">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title category-name">丼物</h5>
                        </div>
                    </div>
                </a>
            </div> 
            
            <div class="col">
                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=4" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/ramen.jpg" class="card-img vertical-card-image" alt="ラーメン">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title category-name">ラーメン</h5>
                        </div>
                    </div>
                </a>
            </div> 
            
            <div class="col">
                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=27" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/oden.jpg" class="card-img vertical-card-image" alt="おでん">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title category-name">おでん</h5>
                        </div>
                    </div>
                </a>
            </div>  
            
            <div class="col">
                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=32" class="card-link">
                    <div class="card text-white">
                        <img src="https://nagoyameshi-pattern-1.herokuapp.com/images/fried.jpg" class="card-img vertical-card-image" alt="揚げ物">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
                            <h3 class="card-title category-name">揚げ物</h5>
                        </div>
                    </div>
                </a>
            </div>            
        </div>
        <div class="mb-5">
                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=1" class="btn btn-outline-secondary btn-sm me-1 mb-2">居酒屋</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=2" class="btn btn-outline-secondary btn-sm me-1 mb-2">焼肉</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=3" class="btn btn-outline-secondary btn-sm me-1 mb-2">寿司</a>
                                                                                                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=5" class="btn btn-outline-secondary btn-sm me-1 mb-2">定食</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=6" class="btn btn-outline-secondary btn-sm me-1 mb-2">カレー</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=7" class="btn btn-outline-secondary btn-sm me-1 mb-2">喫茶店</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=8" class="btn btn-outline-secondary btn-sm me-1 mb-2">中華料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=9" class="btn btn-outline-secondary btn-sm me-1 mb-2">イタリア料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=10" class="btn btn-outline-secondary btn-sm me-1 mb-2">フランス料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=11" class="btn btn-outline-secondary btn-sm me-1 mb-2">スペイン料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=12" class="btn btn-outline-secondary btn-sm me-1 mb-2">韓国料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=13" class="btn btn-outline-secondary btn-sm me-1 mb-2">タイ料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=14" class="btn btn-outline-secondary btn-sm me-1 mb-2">海鮮料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=15" class="btn btn-outline-secondary btn-sm me-1 mb-2">ステーキ</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=16" class="btn btn-outline-secondary btn-sm me-1 mb-2">ハンバーグ</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=17" class="btn btn-outline-secondary btn-sm me-1 mb-2">ハンバーガー</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=18" class="btn btn-outline-secondary btn-sm me-1 mb-2">そば</a>
                                                                                                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=20" class="btn btn-outline-secondary btn-sm me-1 mb-2">お好み焼き</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=21" class="btn btn-outline-secondary btn-sm me-1 mb-2">たこ焼き</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=22" class="btn btn-outline-secondary btn-sm me-1 mb-2">鍋料理</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=23" class="btn btn-outline-secondary btn-sm me-1 mb-2">バー</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=24" class="btn btn-outline-secondary btn-sm me-1 mb-2">パン</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=25" class="btn btn-outline-secondary btn-sm me-1 mb-2">スイーツ</a>
                                                                                                                                        <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=28" class="btn btn-outline-secondary btn-sm me-1 mb-2">焼き鳥</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=29" class="btn btn-outline-secondary btn-sm me-1 mb-2">すき焼き</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=30" class="btn btn-outline-secondary btn-sm me-1 mb-2">しゃぶしゃぶ</a>
                                                                <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=31" class="btn btn-outline-secondary btn-sm me-1 mb-2">天ぷら</a>
                                                                                                                                        <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants?category_id=34" class="btn btn-outline-secondary btn-sm me-1 mb-2">鉄板焼き</a>
                                    </div>   
        
        <h2 class="mb-3">新規掲載店</h2>
        <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-5">
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/107" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/washoku.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">割烹旬菜</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    和食
                                                                                            </div>
                                                                        
                                                                        
                                </div>                                
                                <p class="card-text">名古屋老舗のお店。老舗の味をご堪能くだ...</p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/106" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/yakitori02.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">炭火串焼コケッコ屋 半田店</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    焼き鳥
                                                                                            </div>
                                                                        
                                                                        
                                </div>                                
                                <p class="card-text">名古屋老舗のお店。老舗の味をご堪能くだ...</p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/105" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/yakiniku02.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">ちょもちょもらんま</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    焼肉
                                                                                            </div>
                                                                        
                                                                        
                                </div>                                
                                <p class="card-text">名古屋老舗のお店。老舗の味をご堪能くだ...</p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/104" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/oden.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">割烹 加藤</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    和食
                                                                                            </div>
                                                                                    <div class="d-inline-block">
                                                                                                     おでん
                                                                                            </div>
                                                                        
                                                                        
                                </div>                                
                                <p class="card-text">名古屋老舗のお店。老舗の味をご堪能くだ...</p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/103" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/ramen02.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">台湾ラーメン 田中 守山本店</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    ラーメン
                                                                                            </div>
                                                                        
                                                                        
                                </div>                                
                                <p class="card-text">名古屋老舗のお店。老舗の味をご堪能くだ...</p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                                    
                <div class="col">
                    <a href="https://nagoyameshi-pattern-1.herokuapp.com/restaurants/102" class="link-dark card-link">
                        <div class="card h-100">                                    
                                                                
                                <img src="https://nagoyameshi-pattern-1.herokuapp.com/storage/restaurants/yakiniku03.jpg" class="card-img-top vertical-card-image"> 
                                                                                                                      
                            <div class="card-body">                                    
                                <h3 class="card-title">やきにく 山崎</h3>
                                <div class="text-muted small mb-1">
                                                                                                                        <div class="d-inline-block">
                                                                                                    焼肉
                                                                                            </div>
                                                                        
                                                                        
                                </div>                                
                                <p class="card-text">名古屋老舗のお店。老舗の味をご堪能くだ...</p>                                    
                            </div>
                        </div>    
                    </a>            
                </div>                       
                    </div>        
    </div>
                    </main>

        <footer class="bg-light">
    <div class="d-flex justify-content-center footer-logo">
        <a class="navbar-brand app-name" href="https://nagoyameshi-pattern-1.herokuapp.com">
            <div class="d-flex align-items-center">
                <img class="nagoyameshi-logo me-1" src ="https://nagoyameshi-pattern-1.herokuapp.com/images/logo.svg" alt="nagoyameshi">
                NAGOYAMESHI
            </div>  
        </a>      
    </div> 
    <div class="d-flex justify-content-center footer-link">
        <a href="https://nagoyameshi-pattern-1.herokuapp.com/company" class="link-secondary me-3">会社概要</a>
        <a href="https://nagoyameshi-pattern-1.herokuapp.com/terms" class="link-secondary">利用規約</a>
    </div>
    <p class="text-center text-muted small mb-0">&copy; NAGOYAMESHI All rights reserved.</p>    
</footer>    </div>

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://nagoyameshi-pattern-1.herokuapp.com/js/carousel.js"></script>
</body>
</html>